.wind-arrow {
  font-size: 60px;
  text-align: center;
  font-weight: bold;
}

.wind-direction-text {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}

a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
  filter: invert(35%) sepia(100%) saturate(3494%) hue-rotate(197deg)
    brightness(120%) contrast(101%);
}

body::after {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/assets/background.jpeg");
  background-size: cover;
  background-position: center;
  position: fixed;
  top: -10%;
  bottom: -10%;
  left: -10%;
  right: -10%;
  z-index: -1;
  filter: blur(10px);
}

.compass {
  font-weight: bold;
  display: block;
  width: 140px;
  margin-top: 10px;
  margin-bottom: 5px;
  height: 140px;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
  position: relative;
  font-family: "Dosis";
  color: #555;
  text-shadow: 1px 1px 1px white;
  &:before {
    font-weight: bold;
    position: absolute;
    text-align: center;
    width: 100%;
    content: "N";
    font-size: 14px;
    top: -2px;
  }
  .direction {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #f2f6f5;
    background: -moz-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, #f2f6f5),
      color-stop(100%, #cbd5d6)
    );
    background: -webkit-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    background: -o-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    border-radius: 100%;
    p {
      line-height: 1;
      margin-top: 0;
      text-align: center;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      font-size: 28px;
      font-weight: bold;
      span {
        display: block;
        line-height: 1;
        margin-top: -24px;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: normal;
      }
    }
  }
  .arrow {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 25px solid red;
      position: absolute;
      bottom: -6px; /* This line is added and "top" is removed because arrow is now pointing downwards */
      left: 50%;
      margin-left: -5px;
      z-index: 99;
    }
  }
  [class^="degree"] {
    transform: rotate(calc(attr(class) * 1deg));
  }
}
